<div>
    <div class="auth-main animated bounceIn">
        <ba-card class=" col-sm-5  text-center " style="margin-left: 29%">
            <h1 class="text-center">Sign in to ServU</h1>
            <a routerLink="/signup" class="auth-link">New to servU? Sign up!</a>

            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                <div formGroupName="passwords"

                     [ngClass]="{
                  'has-error': (!form.get('passwords').get('password').valid &&
                  form.get('passwords').get('password').touched &&
                  form.get('passwords').get('repeatPassword').touched),
                  'has-success': (form.get('passwords').get('password').valid &&
                  form.get('passwords').get('password').touched &&
                  form.get('passwords').get('repeatPassword').touched)
                        }">
                    <div class="form-group row"
                         [ngClass]="{
       'has-error': (!form.get('passwords').get('password').valid && form.get('passwords').get('password').touched),
       'has-success': (form.get('passwords').get('password').valid && form.get('passwords').get('password').touched)
        }">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="password" class="form-control"
                                   placeholder="password">
                        </div>
                        <div *ngIf="form.get('passwords').get('password').touched" style="margin-left: 27%">
          <span class="help-block sub-little-text" style="color: red "
                *ngIf="form.get('passwords').get('password').hasError('minlength')">minimum lencht is 4</span>

                            <span class="help-block sub-little-text" style="color: red "
                                  *ngIf="form.get('passwords').get('password').hasError('required')">This field is required</span>
                        </div>

                    </div>

                    <div class="form-group row"
                         [ngClass]="{
       'has-error': (!form.get('passwords').get('repeatPassword').valid && form.get('passwords').get('repeatPassword').touched),
       'has-success': (form.get('passwords').get('repeatPassword').valid && form.get('passwords').get('repeatPassword').touched)
        }">
                        <label class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="password" formControlName="repeatPassword" class="form-control"
                                   placeholder="password">
                        </div>

                        <div *ngIf="form.get('passwords').get('repeatPassword').touched" style="margin-left: 27%">
          <span class="help-block sub-little-text" style="color: red"
                *ngIf="form.get('passwords').get('repeatPassword').hasError('minlength')">minimum lenght is 6</span>

                            <span class="help-block sub-little-text" style="color: red"
                                  *ngIf="form.get('passwords').get('repeatPassword').hasError('required')">This field is required</span>
                        </div>


                        <span class="help-block sub-little-text" style="color: red;"
                              *ngIf="form.get('passwords').get('password').touched
            &&
            form.get('passwords').get('repeatPassword').touched && form.get('passwords').hasError('passwordsEqual')"> <br>Password not matched</span>
                    </div>

                </div>


                <div class="form-group row">
                    {{errors}}
                </div>
                <div class="form-group row" *ngIf="success">
                    Thanks check your email
                </div>


                <div class="form-group row">
                    <div class="offset-sm-1 col-sm-10">
                        <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-auth">Update
                        </button>
                    </div>
                </div>
            </form>


        </ba-card>


    </div>
</div>

<img src="assets/img/app/login_back.jpg" alt="" class="background-img">