@import '../../theme/sass/auth';
.image{width:100px;height:100px; }
.profile-image {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
