<div class="row">
  <div class="col-sm-6">Price$</div>
  <div class="col-sm-6">45</div>
</div>
<div class="row">
  <div class="col-sm-6">Price$</div>
  <div class="col-sm-6">45</div>
</div>
<div class="row">
  <div class="col-sm-6">Duration</div>
  <div class="col-sm-6">45</div>
</div>
<div class="row">
  <div class="col-sm-6">Catagory</div>
  <div class="col-sm-6">SOme catagory</div>
</div>
<div class="row">
  <div class="col-sm-6">Enable comunication</div>
  <div class="col-sm-6">true</div>
</div>

