<div bsModal #membershipPaymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="membershipPaymentModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Proced Payment</h4>
                    <button class="close" type="button" (click)="membershipPaymentModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Membership Price</label>
                        </div>
                        <div class="col-8">
                            <label>{{m.membership_fee}}</label>$
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <label>Discount</label>
                        </div>
                        <div class="col-8">
                            <input class="form-control" type="number" name="discount" ngModel [max]="m.membership_fee"
                                   #discount="ngModel">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-4">
                            <label>Grand total</label>
                        </div>
                        <div class="col-8">
                            <label>{{m.membership_fee-discount.value}}</label>$
                        </div>
                    </div>
                    <tabset type="pills" [vertical]="true" [justified]="true">
                        <tab *ngFor="let m of methods" [heading]="m.payment_method.name">
                            <div [ngSwitch]="m.payment_method.id" class="form-horizontal">
                                <div *ngSwitchCase="1">
                                    <div class="form-group row">
                                        <div class="col-3">
                                            <label>Cash</label>
                                        </div>
                                        <div class="col-9">
                                            <input type="text" class="form-control">
                                        </div>

                                    </div>
                                </div>
                                <div *ngSwitchCase="2">
                                    <div *ngIf="strip.isInit">
                                        <div class="form-group row">
                                            <label class="col-3">Number</label>

                                            <div class="col-9">
                                                <input type="number" name="card" class="form-control"
                                                       ngModel
                                                       #cardnumber="ngModel"
                                                       baStripCardValidator
                                                       placeholder="xxxx-xxxx-xxxx-xxxx">
                                                <ba-validation-message [input]="cardnumber"></ba-validation-message>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">CVC</label>
                                            <div class="col-9">
                                                <input type="number" name="cvc" class="form-control" placeholder="xxx"
                                                       ngModel
                                                       #cvc="ngModel"
                                                       baStripCVCValidator>
                                                <ba-validation-message [input]="cvc"></ba-validation-message>

                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Exp</label>
                                            <div class="col-4">
                                                <input type="number" name="exp_month" class="form-control" ngModel
                                                       placeholder="MM">
                                            </div>
                                            <label class="col-1">-</label>
                                            <div class="col-4">
                                                <input type="number" name="exp_year" class="form-control"
                                                       ngModel
                                                       placeholder="YYYY">
                                            </div>
                                            <div class="col-12" *ngIf="expireInvalid">
                                                {{expireInvalid}}
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!strip.isInit">
                                        Please check strip configs
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit"> Pay</button>
                </div>
            </div>
        </form>
    </div>
</div>