<div bsModal #eventCheckoutModal="bs-modal" class="modal fade"
     role="dialog"
     aria-labelledby="eventCheckoutModal"
     aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Checkout</h4>
                <button class="close" (click)="eventCheckoutModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <ba-select2 placeholder="Select Product/Service" [options]="products"
                                        [(ngModel)]="productModal"
                                        (onSelect)="selectProduct($event)" fieldName="name"
                                        modalFieldName="id"></ba-select2>
                        </div>
                        <div class="row">
                            <div class="col-12 ">
                                <button class="float-right btn btn-primary" (click)="addNewProduct()">Add</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="row form-group">
                                    <div class="col-6">
                                        NAME OF PRODUCT
                                    </div>
                                    <div class="col-3 text-center">
                                        PRICE
                                    </div>

                                </div>
                                <div class="product-scroll">
                                    <div class="row product-item" *ngFor="let p of eventProducts">
                                        <div class="col-6">
                                            {{p.name}}
                                        </div>
                                        <div class="col-3 text-center">
                                            {{p.cost}}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Total
                                        </div>
                                        <div class="col-3 text-center">
                                            {{totalCost}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="onCheckout(eventProducts)">Checkout</button>
            </div>
        </div>
    </div>
</div>

