<div class="text-center" *ngIf="loading">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<ul class="list-group">
    <div (click)="detial(item)" class="today-list" *ngFor="let item of list" draggable [dragData]="item">

        <div class="row">
            <div class="col-6">
                <div class="user-name pull-left" *ngFor="let participant of item.event_participant">
                    {{participant.business_user.user.name}}
                </div>
            </div>
            <div class="col-6">
                <div class="date-style pull-right">
                    <i *ngIf="item.loading" class="fa fa-spin fa-spinner"></i>
                    {{item.event_start_at|baDate:'YYYY-MM-DD HH:mm:ss':'MMMM DD, YYYY LT'}}
                </div>
            </div>
        </div>

        <div>
        <span *ngFor="let products of item.event_product">
         {{products.business_product.name}}
        </span>
        </div>

        <div>
             <span class="user-org" *ngFor="let organizer of item.event_organizer">
               <i class="fa fa-user-circle-o"></i>  {{organizer.business_user.user.name}}
            </span>
        </div>

    </div>
</ul>
