<div class="detail-container">
  <div class="col-sm-7 divider-right">


    <div class="row">
      <div class="col-sm-5">
        <label>Street Number:</label>
      </div>
      <div class="col-sm-7">
        <label>15 A</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <label>Street Name:</label>
      </div>
      <div class="col-sm-7">
        <label>Sare gama</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <label>Address Line 1:</label>
      </div>
      <div class="col-sm-7">
        <label>lahore pakistan</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <label>Address Line 2:</label>
      </div>
      <div class="col-sm-7">
        <label>lahore pakistan</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1">
        <div class="row">&nbsp;</div>
        <div class="row">Start:</div>
        <div class="row">End:</div>
      </div>
      <div class="col-sm-11">
        <div class="row">
          <div class="bd-col text-center">Mon</div>
          <div class="bd-col text-center">Tue</div>
          <div class="bd-col text-center">Wed</div>
          <div class="bd-col text-center">Thu</div>
          <div class="bd-col text-center">Fri</div>
          <div class="bd-col text-center">Sat</div>
          <div class="bd-col text-center">Sun</div>
        </div>
        <div class="row">
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
        </div>
        <div class="row">
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
          <div class="bd-col text-center">08:00</div>
        </div>

      </div>


    </div>

  </div>


  <div class="col-sm-5">
    <h3>Providers</h3>
    <hr>

  </div>

</div>
