<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/img/app/profile/Kostya.png" class="img-responsive img-thumbnail" alt="">
    </div>

    <div class="col-sm-6">
      <h1>Name</h1>
      <h4>phone</h4>
      <h4>email</h4>
      <h4>address</h4>
    </div>
  </div>
  <div class="row text-center">
    <h1>Address</h1>
  </div>
  <div class="row">
    <h4>city</h4>
    <h4>ad1</h4>
    <h4>ad2</h4>
  </div>
  <div class="row">
    <h1>Discription</h1>
  </div>
  <div>
    some form
  </div>
</div>
